<!DOCTYPE html>
<html>
<head>
  <title>XJTU_NC Alumni Job Referral</title>
  <%= stylesheet_link_tag    "application", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>

<body>
  <%= render 'layouts/header' %>
  <br>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h3>Need an Alumni Referral?</h3>
      <br><br>
      <address>
      	<strong>Please send your Resume to:</strong><br>
      	<br><strong>Jin Zhang: </strong><u>zhangjin2004@gmail.com</u>
      	<br><strong>Ping li: </strong><u>pingsj@gmail.com</u><br>
      </address>
    </div>
    <div class="span8">
      <%= yield %>
    </div>
  </div>
  </div>
  <%# render 'layouts/footer' %>
</body>
</html>
