<!DOCTYPE html>
<html>
<head>
  <title>XJTU_NC Alumni Job Referral</title>
  <%= stylesheet_link_tag    "application", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>

<body>
  <%= render 'layouts/header' %>
  <br>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h3>Need an Alumni Referral?</h3>
      <br><br>
      <!--<address>
      	<strong>Please send your Resume to:</strong><br>
      	<br><strong>XJTU-NC: </strong><u>xjtusv@gmail.com</u><br>
      	<br><br><strong>Be sure to include in your email:</strong><br>
      	<br>- The <u>company</u> you apply
      	<br>- The <u>job #</u> you apply
      	<br>- The <u>web page link</u> of the job
      	<br>- Your <u>contact information</u>
      </address>-->
      <form class="pull-left" action="/submission">
        <div class="control-group">
          <label class="control-label" for="inputCompany">Company you apply</label>
          <select>
            <option value="" disabled="disabled">Select the company to apply</option>
            <option value="Adobe">Adobe</option>
            <option value="ATandT">AT&T</option>
            <option value="Chevron">Chevron</option>
            <option value="Cisco">Cisco</option>
            <option value="Dell">Dell</option>
            <option value="EMC">EMC</option>
            <option value="Facebook">Facebook</option>
            <option value="Genentech">Genentech</option>
            <option value="Google">Google</option>
            <option value="HP">HP</option>
            <option value="Informatica">Informatica</option>
            <option value="Oracle">Oracle</option>
            <option value="salesforce">salesforce.com</option>
            <option value="ThoughtWorks">ThoughtWorks</option>
            <option value="VMware">VMware</option>
          </select>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputJobID">Job ID</label>
          <div class="controls">
            <input type="text" id="inputJobID" placeholder="Job ID">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputLink">Web link to the job</label>
          <div class="controls">
            <input type="text" id="inputLink" placeholder="Paste the web link of the job here">
          </div>
        </div>
        <div class="control-group">
          <text class="control-label" for="inputResume">Resume</label>
          <div class="controls">
            <textarea rows="5" placeholder="Paste your resume here, be sure to include your contact information"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
      <br>
      </form>
    </div>
    <div class="span8">
      <%= yield %>
    </div>
  </div>
  </div>
  <%# render 'layouts/footer' %>
  <%= render 'layouts/ga' %>
</body>
</html>