<!DOCTYPE html>
<html>
<head>
  <title>XJTU_NC Alumni Job Referral</title>
  <%= stylesheet_link_tag    "application", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>

<body>
  <%= render 'layouts/header' %>
  <br>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h3>Need an Alumni Referral?</h3>
      <br><br>
      <address>
      	<strong>Please send your Resume to:</strong><br>
      	<br><strong>XJTU-NC: </strong><u>xjtusv@gmail.com</u><br>
      	<br><br><strong>Be sure to include in your email:</strong><br>
      	<br>- The <u>company</u> you apply
      	<br>- The <u>job #</u> you apply
      	<br>- The <u>web page link</u> of the job
      	<br>- Your <u>contact information</u>
      </address>
      <br>
      <h4><a href="https://sites.google.com/site/xjtusv/about-xjtu-nc" target='_blank'>XJTU-NC: Home Page</a></h4>
    </div>
    <div class="span8">
      <%= yield %>
    </div>
  </div>
  </div>
  <%# render 'layouts/footer' %>
  <%= render 'layouts/ga' %>
</body>
</html>